.calcbody {
    padding: 10px;
    border-radius: 2px;
    background-color: whitesmoke;
    border: 1px solid #b2dfdb;
    
    .display {
        border-radius: 2px;
        height: 70px;
        margin-top: 10px;
        margin-bottom: 5px;
        // background-color: #80cbc4;

        .displayText {
            color: #263238;
            font-weight: 700;
            word-wrap: break-word;
            text-align: right;
            margin: 2px 0 0 0;
        }
    }
    .buttonsContainer {
        margin-bottom: 10px;
        padding: 0;

        .leftContainer {
            padding: 0;
        }

        .clearbtnContainer, .numberbtnContainer {
            padding: 0 6px 0 0;
            .numberbtnBox {
                margin-bottom: 0;
            }
        }
        .ops {
            padding: 0;
        }
        .btn {
           margin: 5px 0;
           width: 100%;
        //    border-radius: 2px;
        //    color: whitesmoke;
           font-weight: 500;
        //    background-color: #80cbc4;
           transition: all 0.3s;
           padding: 0;
        }
        
        .btnplus {
            height: 82px;
        }
    }
}

.export {
    .export-answer {
        margin: 10px 0;
    }
}