body{
    color: #263238;
}


[type="checkbox"]:checked, td>#checkbox{ 
    opacity: 1; 
    pointer-events: auto;
    position: relative;
}

.page-header{
    margin: 0.5em;
    border-bottom: 1px solid rgb(203, 234, 235)
}

.header-box{
    h4{
        display:none
    }
}

.add-bills{


    .add-header{
        padding: 0.6rem 0 .656rem 0;
        margin: 0 auto;
        font-size: 1.3em;
        font-weight: bold;
        line-height: 25px;
    }

    .btn{
        margin: 10px 5px;
    }
}

.bill-table{
    margin-bottom: 20px;

    th, tr, td{
        border-radius: 0;
    }
    
    tr{
        &:hover{
            background-color: #cfd8dc;
        }
    }
    

}

@media (max-width: 720px){
    .header-box{
        h2{
            display:none
        }

        h4{
            display: block;
        }
    }

    .bill-table{

        th:nth-child(n+6), td:nth-child(n+6){
            display: none;
        }

        
    }
}