body {
    color: #263238;
    background-color: whitesmoke;
}


[type="checkbox"]:checked, td>#checkbox { 
    opacity: 1; 
    pointer-events: auto;
    position: relative;
}

.page-header {
    margin: 0.5em;
    border-bottom: 1px solid #80cbc4;
}

.header-box { 
    h4{
        display:none
    }
}

.add-bills {


    .add-header {
        padding: 13px 0 13px 0;
        font-weight: bold;
        margin: 0 auto;
        line-height: 25px;
    }

    .btn {
        margin: 10px 5px;
    }
}

.bill-table {
    margin-bottom: 20px;

    th, tr, td {
        border-radius: 0;
        text-transform: capitalize;
    }
    
    tr{
        &:hover {
            background-color: #cfd8dc;
        }
    }

    th:nth-child(n+7), td:last-child {
        text-align: center;
    }
}

.update-form {
    background-color: whitesmoke;
    border: 1px solid #263238;
    padding: 10px;

    .updatebill-header {
        h5 {
            margin: 0;
        }
    }
}

@media (max-width: 720px) {
    .header-box {
        h2 {
            display:none
        }

        h4 {
            display: block;
        }
    }

    .bill-table {
        overflow-x: scroll;
    }
}